<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
// import {OAuthModules} from '@/utils/oAuth'
export default {
  name: 'app',

  mounted () {
    // if (OAuthModules.isRefsh()) {
    //   OAuthModules.goOAuth('wx6bce565776a81ced', 'http://test.xlink.cn/wechat/mqtt/index.html')
    // }
    // console.log(OAuthModules.isRefsh())
    console.log(this.$route.params)
  }
}
</script>

<style>
#app, html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
</style>
